/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #F8F2EA;
  --text-dark: #3F2B20;
}

* {
  font-weight: 400 !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
  color: var(--text-dark);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
}

.scroll-container {
  position: relative;
  height: 500vh;
  z-index: 1;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

/* Custom dashed line for the 'O' */
.dashed-path {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 50vw;
  height: 60vh;
  border-top: 2px dashed #903020;
  border-right: 2px dashed #903020;
  border-top-right-radius: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.card {
  will-change: transform;
  cursor: pointer;
  transition: box-shadow 0.5s cubic-bezier(0.6, 0, 0.2, 1);
}